
.reg{
    padding:10px;
    color:white;
    
    border-radius: 10px;
 }
 .reg .form-control{
     background: whitesmoke;
     border-radius:10px;
 }

 .user-btn{
    background: linear-gradient(to right, #000000, #434343);
    color:white;
    padding:5px;
    box-shadow: 0px 2px 2px grey;
    border-radius:10px;


 }

 .reset-form{
    color:black;
    padding:15px;
    box-shadow: 0px 2px 2px grey;
    border-radius:10px;

 }